@import 'utils/variables';


/*font*/
@font-face {
    font-family: "Author";
    src: url("../assets/fonts/Author-Variable.woff2") format("woff2"),
           url("../assets/fonts/Author-Variable.woff") format("woff"), url("../assets/fonts/Author-Variable.woff2") format("woff2"),
           url("../assets/fonts/Author-Variable.woff") format("woff");
   }

/*variables*/
:root{ 
    --color-bg: #FFF2E6;
    --color-text: #111;

    --font-size_small: 16px;
    --font-size_middle: 18px;
    --font-size_big: 20px;
}

body{
    font-size: var(--font-size_small);
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
}


ul{
    padding: 0px;
    list-style: none;
}

a, a:visited{
    text-decoration: none;
}


li{
    list-style: none;
}

.bouton{
    background-color: #111111;
    color: #FFF2E6;
    display: block;
    padding: 10px 30px 0px 10px;
    max-width: 100px;
    border-radius: 41px;
    text-align: center;
    max-height: 30px;
    text-transform: lowercase;
}

.header{
    display: grid;
    grid-template-columns: repeat( 8, 1fr);
    height: 100vh;
}

.nav{
    display: flex;

}

.mgrid-start1{
    grid-column-start: 1;
}
.mgrid-end5{
    grid-column-end: 5;
}
.mgrid-end6{
    grid-column-end: 5;
}

.mgrid-start6{
    grid-column-start: 6;
}
.mgrid-end-1{
    grid-column-end: -1;
}
.box--beiche{
    background-color: var(--color-bg);
    top: -500px;
    position: absolute;
}

.bouton--accueil::after{
    content: " →";
}

body{
    background-color: #FFF2E6;
    font-family: "Author", sans-serif;
    color: #111111;
}

.bouton--accueil{
    background-color: #111111;
}

.title--big{
    font-size: 37.9px;
    font-variation-settings: 'wght' 600;
    margin-top: 32px;
    margin-bottom: 0;
}

.title--medium{
    font-size: 28.43px;
    margin-bottom: 0;
    margin-top: 16px;
    font-variation-settings: 'wght' 300;
    font-style: italic;
}

.title--small{
    font-size: 21.33px;
    margin-bottom: 16px;
    margin-top: 0;
}

.header__nav ul{
    display: flex;
    justify-content: space-between;
}

header svg{
    width: 70px;
}

.link{
    padding-left: 5px;
}

.header__nav{
    transform: translateX(0%);
    transition: transform 0.2s ease-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    right: 0px;
    height: 100vh;
    top: 0px;
    width: 100%;
    background-color: #f7d2b0;

    font-size: 21.33px;
}


.header--cross{
    background-image: url(../assets/images/burger-menu_cross.svg);
    background-size: cover;
    background-color: transparent;
}

.header__menu--burger {
    width: 37px;
    height: 37px;
    border: none;
    position: relative;
    overflow: hidden;
    background-image: url(../assets/images/burger-menu.svg);
    background-size: cover;
    background-color: transparent;
    z-index: 1;
    overflow: hidden;
    position: relative;
}

.header__button--txt {
    position: absolute;
    white-space: nowrap;
    text-indent: 100%;
}


.menu{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin-top: 64px;

    .link{
        padding-bottom: 21.33px;
    }
}

@media (max-width: 767px){
    .menu .link {
        align-items: center;
        text-align: center;
    }
}

.menu-logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header--no-display {
    display: none;
}

.header--display {
    transform: translateX(100%);
    transition: transform 0.2s ease-in;
    margin-bottom: -200px;
}

@media (min-width: 768px){
.header--display {
    margin-bottom: 0;
    transform: none;
}
}


@media (min-width: 768px){

    .dgrid-start1{
        grid-column-start: 1;
    }
    .dgrid-end3{
        grid-column-end: 3;
    }
    .dgrid-end5{
        grid-column-end: 5;
    }
    .dgrid-end6{
        grid-column-end: 5;
    }
    
    .dgrid-start5{
        grid-column-start: 5;
    }
    .dgrid-start6{
        grid-column-start: 6;
    }
    .dgrid-end-1{
        grid-column-end: -1;
    }

    .header__nav {
        justify-content: space-between;
        margin-left: 34px;
        border: none;
        padding-bottom: 0;
        display: flex;
        width: auto;
        position: static;
        height: auto;
        flex-direction: row;
        background-color: var(--color-bg);
    }

    .menu {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
        padding-bottom: 20px;
        flex-direction: row;
    }

    .header--right{
        background-color: #111;
        grid-row: 1 / 5 span;
    }

    .title--big{
        font-size: 84px;
        line-height: 1.3;
        font-variation-settings: 'wght' 600;
        margin-top: 32px;
        margin-bottom: 0;
        padding: 0px 55px;
    }

    .bouton--accueil{
        margin-left: 55px;
        color: #FFF2E6;
        max-width: 200px;
        padding-right: 10px;
    }

    .nav{
        margin-top: 46px;
        margin-left: 55px;
    }

    .nav--logo{
        height: 23px;
        padding: 10px;
        padding-right: 51px;
    }

    .nav__links{
        display: flex;
        margin: 0;

        .link{
            padding: 15px;
        }

        .link--color{
            color: #111;
        }
    }

    .link--active{
        background-image: url(../assets/images/active.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center 7px;
    }
}